{{define "main"}}

	<div class="content">
		<article>
		<h1>{{.Title}}</h1>
			{{.Content}}
		</article>
		<aside class="video">
			<h2>Vidéo ?</h2>
			{{partial "youtube.html" .Params.youtube }}
		</aside>
	</div>

{{end}}
