<head>
	<title>{{.Title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/scpo.css"/>
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/geopattern.min.js" type="text/javascript"></script>
</head>
