{{ define "main" }}
<main>
	<header>
		<h1>{{.Title}}</h1>
		{{ with .Params.subtitle }}
		<span class="subtitle">{{.}}</span>
		{{ end }}
	{{.Content}}
	</header>

	{{ range .Site.RegularPages.GroupBy "Section" }}
	<section>
		<header>
			<h2>{{ .Key }}</h2>
		</header>
		<ul>
			{{ range .Pages }}
			<li>
				<a href="{{.Permalink}}">
					{{.Title}}
				</a>
			</li>
			{{ end }}
		</ul>
	</section>

	{{ end }}
</main>
{{ end }}
